[Unit]
PartOf=app-bravo.target

[Service]
User=app
WorkingDirectory=/tmp/app
Environment=PORT=%i
ExecStart=/bin/bash -lc './bravo'
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=mixed
TimeoutStopSec=5
